<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join Our App</title>
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="section">
      <div class="container">
        <form class="panel" action="/" method="POST">
          {{ csrfField }}
          <p class="panel-heading">
            Sign Up For My Web App
          </p>
          <div class="panel-block">
            {% for formInput in formInputs %}
              <p class="control has-icon">
                {% if formInput.type === 'select' %}
                  <span class="select is-fullwidth">
                    <select name="{{formInput.id}}">
                      {% for option in formInput.options %}
                        <option>{{ option.label }}</option>
                      {% endfor %}
                    </select>
                  </span>
                {% else %}
                  {% if formInput.type === 'textarea' %}
                    <textarea class="input textarea" placeholder="{{ formInput.label }}" name="{{formInput.id}}"></textarea>
                    <i class="{{formInput.icon}} fa" aria-hidden="true"></i>
                  {% else %}
                    <input class="input" placeholder="{{formInput.label}}" name="{{formInput.id}}">
                    <i class="{{formInput.icon}} fa" aria-hidden="true"></i>
                  {% endif %}
                {% endif %}
              </p>
            {% endfor %}

          </div>
          <div class="panel-block">
            <button class="button is-primary is-fullwidth">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
